<div class="container_self">
    <div class="upper_footer">
        <div class="link-container">
            <h6 class="footer-title">Popular Destinations</h6>
            <div class="items">
                <span><a href="#">Paris</a></span>
                <span><a href="#">New York</a></span>
                <span><a href="#">Tokyo</a></span>
                <span><a href="#">London</a></span>
                <span><a href="#">Rome</a></span>
                <span><a href="#">Singapore</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Romantic Getaways</h6>
            <div class="items">
                <span><a href="#">Venice, Italy</a></span>
                <span><a href="#">Santorini, Greece</a></span>
                <span><a href="#">Paris, France</a></span>
                <span><a href="#">Maui, Hawaii</a></span>
                <span><a href="#">Bora Bora</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Luxury Hotels</h6>
            <div class="items">
                <span><a href="#">Four Seasons</a></span>
                <span><a href="#">Ritz-Carlton</a></span>
                <span><a href="#">The Peninsula</a></span>
                <span><a href="#">Mandarin Oriental</a></span>
                <span><a href="#">Burj Al Arab</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Asia</h6>
            <div class="items">
                <span><a href="#">Japan</a></span>
                <span><a href="#">China</a></span>
                <span><a href="#">India</a></span>
                <span><a href="#">Thailand</a></span>
                <span><a href="#">South Korea</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Europe</h6>
            <div class="items">
                <span><a href="#">France</a></span>
                <span><a href="#">Italy</a></span>
                <span><a href="#">Spain</a></span>
                <span><a href="#">Germany</a></span>
                <span><a href="#">Greece</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">North America</h6>
            <div class="items">
                <span><a href="#">USA</a></span>
                <span><a href="#">Canada</a></span>
                <span><a href="#">Mexico</a></span>
                <span><a href="#">Greenland</a></span>
                <span><a href="#">Bermuda</a></span>
                <span><a href="#">Cuba</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">South America</h6>
            <div class="items">
                <span><a href="#">Argentina</a></span>
                <span><a href="#">Brazil</a></span>
                <span><a href="#">Chili</a></span>
                <span><a href="#">Paraguy</a></span>
                <span><a href="#">Uraguay</a></span>
                <span><a href="#">Ecuador</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Oceania</h6>
            <div class="items">
                <span><a href="#">Australia</a></span>
                <span><a href="#">New Zealand</a></span>
                <span><a href="#">Fiji</a></span>
                <span><a href="#">Tahiti</a></span>
                <span><a href="#">Hawaii (USA)</a></span>
            </div>
        </div>
    </div>
    <div class="middle_footer">
        <div class="middle_footer_main">
            <div class="middle_footer_about middle_footer_heading">
                <h3>About</h3>
                <div class="middle_footer_item">
                    <a href="#">Contact Us</a>
                    <a href="#">About Us</a>
                    <a href="#">Careers</a>
                    <a href="#">Travelmania Stories</a>
                    <a href="#">Corporate Information</a>
                </div>
            </div>
            <div class="middle_footer_help middle_footer_heading">
                <h3>Help</h3>
                <div class="middle_footer_item">
                    <a href="#">Travel destinations</a>
                    <a href="#">Policy</a>
                    <a href="#">Cancellation and Returns</a>
                    <a href="#">Report</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
            <div class="middle_footer_social middle_footer_heading">
                <h3>Reach out to us</h3>
                <div class="links">
                    <a href="#" class="social_link"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="#" class="social_link"><i class="fa-brands fa-instagram fa-2xl"
                            style="color: #aa1cf1;"></i></a>
                    <a href="#" class="social_link"><i class="fa-brands fa-youtube fa-2xl"
                            style="color: #ff0000;"></i></a>
                    <a href="#" class="social_link"><i class="fa-brands fa-x-twitter fa-2xl"
                            style="color: #000;"></i></a>
                </div>
            </div>
            <div class="middle_footer_contact middle_footer_heading">
                <h3>Registered Office Address</h3>
                <address class="company_add">
                    Travelmania Internet Private Limited
                    <br>
                    Ganga Nagar, Near Divider Road,
                    <br>
                    IIMT University, Azad Hostel,
                    <br>
                    Room Number : XX, opposite swimming pool
                    <br>
                    Meerut City, 251002,
                    <br>
                    Uttar Pradesh, India
                </address>
            </div>
        </div>
    </div>
    <div class="lower_footer">
        <div class="lower_footer_info">
            <h4 class="mt-2">Travelmania@ PVT LTD</h4>
            <h4 class="mb-2">Create by <i class="fa-solid fa-heart fa-sm" style="color: #ff0000;"></i> Vedansh Kumar
            </h4>
        </div>
    </div>
</div>